<h1><%= @score.title %></h1>

<div id="embed-container"></div>
<%# <button id="export-xml" class="btn-cta-site">Submit Changes</button> %>
<%= button_to 'Submit Changes', "/scores/#{@score.id}", method: :patch, id: 'export-xml' %>
<script src="https://prod.flat-cdn.com/embed-js/v1.3.0/embed.min.js"></script>
<script>
  var container = document.getElementById("embed-container");
  var embed = new Flat.Embed(container, {
    "width": "100%",
    "height": "450",
    "score": "<%= @score.id %>",
    "embedParams": {
      "mode": "edit",
      "branding": false,
      "appId": "5ecd978ef0aa2b501cf8cf25",
      "controlsPosition": "top"
    },
  });

  let headers = new Headers();
  headers.set('Authorization', 'Bearer ' + '<%= FlatService.flat_key%>')
  headers.set('Content-Type', 'application/json')

  document.getElementById('export-xml').addEventListener('click', function () {
    embed.getMusicXML().then(function (xml) {
      editScore(btoa(xml))
      });
    });

    function editScore(document) { fetch('https://api.flat.io/v2/scores/<%= @score.id %>/revisions' , {
      method: 'post',
      headers: headers,
      body: JSON.stringify({
             "title": "<%= @score.title %>",
             "data": `${document}`,
             "dataEncoding": "base64",
             "autosave": true
        }),
      mode: 'cors'
      })
    };
</script>

<section class="collaborators">
  <h3>Collaborators</h3>
  <ul>
  <% @score.collaborators.each do |collaborator| %>
    <li><p><%= collaborator[:user][:username] %></p></li>
  <% end %>
  </ul>

  <section class="requests">
    <% if !@score.current_collaborator?(current_user[:username]) && !@score.user_pending_request?(current_user[:username])  %>
      <%= button_to 'Request to collaborate on this score', '/requests', params: { username: current_user[:username], score_id: @score.id } %>
    <% elsif @score.owner?(current_user[:username]) && @score.pending_requests.count > 0 %>
    <h4>Requests to Collaborate</h4>
      <ul>
        <% @score.pending_requests.each do |request| %>
          <li><p><%= request.username %></p>
            <p><%= button_to 'Approve', "/requests/#{request.id}", method: :delete, params: {type: 'approve', username: current_user[:username], score_id: @score.id} %>
            <p><%= button_to 'Reject', "/requests/#{request.id}", method: :delete, params: {score_id: @score.id} %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </section>
</section>
