<%= content_tag :div, '', id: 'score', data: { source: @score.id } %>
<body class='score-show'>
  <div id='edit-success'>
  <% if notice %>
    <%= render partial: 'shared/notice_banner' %>
  <% end %>
  </div>
    <h1 class='username' id='score-title'><%= @score.title %></h1>
    <select style='width:40%' id='scores-menu' onchange="window.location=this.value">
      <option>Select a Score</option>
      <% @score_bank.all_scores.each do |score| %>
        <option value="/scores?score_id=<%= score.id %>"><%= score.title %></option>
      <% end %>
    </select>
    <div id="embed-container"></div>
    <%= javascript_include_tag 'flat' %>
    <div style='width:50%'><%= button_to 'Submit Changes', "/scores/#{@score.id}", method: :patch, id: 'export-xml', remote: true %></div>
    <div class="row">
      <div class="col-1-of-2">
        <div class="collabs">
          <section class="collaborators">
            <h3 class="collabs__heading">Collaborators</h3>
            <div class="collabs__contents">
              <ul>
              <% @score.collaborators.each do |collaborator| %>
                <li><p style='text-align:left;'><%= link_to collaborator.username, "/users/#{collaborator.id}" %></p></li>
              <% end %>
              </ul>
              <section class="requests">
                <% if !@score.current_collaborator?(current_user[:username]) && !@score.user_pending_request?(current_user[:username])  %>
                  <%= button_to 'Request to collaborate on this score', '/requests', params: { username: current_user[:username], score_id: @score.id }, class: "btn btn-primary" %>
                <% elsif @score.owner?(current_user[:username]) && @score.pending_requests.count > 0 %>
                <h4>Requests to Collaborate</h4>
                  <ul>
                    <% @score.pending_requests.each do |request| %>
                      <li><p><%= request.username %></p>
                        <p><%= button_to 'Approve', "/requests/#{request.id}", method: :delete, params: {type: 'approve', username: current_user[:username], score_id: @score.id}, class: "btn btn-success" %>
                        <p><%= button_to 'Reject', "/requests/#{request.id}", method: :delete, params: {score_id: @score.id}, class: "btn btn-danger" %>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
            </div>
              </section>
          </section>
        </section>
      </div>
    </div>
    <div class="col-1-of-2 u-center-text">
      <section class="create-score u-center-text u-margin-bottom-medium">
        <div class='form-style'>
          <h2 class="form-style__heading">Create New Score</h2>
          <div class='form-style__contents'>
            <%= form_tag scores_path, method: :post do %>
              <%= label_tag :title, 'Title:', class: "form-style__label" %>
              <%= text_field_tag :title, "", class: "form-style__input" %>
              <%= select_tag :clef, "<option>Treble</option><option>Bass</option><option>Both</option>".html_safe %>
              <p style='margin: 10px;'><%= submit_tag 'Submit Score', class: "btn btn-outline-light btn-lg"%></p>
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>
