
<p>User Name: <%= @user.user_info[:username] %></p>
<p>Number of Scores: <%= @user.user_info[:ownedPublicScoresCount] %></p>
<p>Following: <%= @user.user_info[:followingCount] %></p>
<p>Followers: <%= @user.user_info[:followersCount] %></p>
<p>My Scores:</p>
<%= link_to 'Create Score', '/scores/new' %>
<section class='scores'>
  <% if !(@user.scores.empty?) %>
    <% @user.scores.each_with_index do |score, index| %>
      <div id="score-<%= index %>">
        <%= link_to score.title, scores_path(:params => {score_id: score.id}) %>
        <%= link_to 'Delete', score_path(score.id), method: :delete%>
      </div>
    <% end %>
  <% end %>
</section>
