<body class='conversation-new'>
  <h1>New Conversation</h1>

  <%= form_tag users_conversations_path, method: :post do %>
    <div>
      <%= select_tag :user_id, options_from_collection_for_select(@recipients, :id, :username) %>
    </div>
    <div>
      <%= text_field_tag :subject, nil, placeholder: 'Subject'%>
    </div>
    <div>
      <%= text_area_tag :body, nil, placeholder: 'Start a new conversation'%>
    </div>
    <%= submit_tag 'Submit'%>
  <% end %>
  </body>
