<nav>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <ul class="nav justify-content-end">
      <li class="navbar-brand">
        <%= image_tag "logo_transparent_HORIZ.png", :class => "nav_image" %>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href='/users/dashboard'>Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href='/users/explore'>Explore</a>
      </li>
      <li class="nav-item">
        <%= link_to 'My Profile', user_path(current_user.id), class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to 'My Location', users_edit_location_path(current_user.id), class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Messages', users_conversations_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Logout', logout_path, method: :delete, class: "nav-link active" %>
      </li>
      <li class="right">
        Logged in as <span style='color:white;'><%= current_user.username %></span>
      </li>
    </ul>
  </div>
</nav>
