<nav>
  <div class="nav-bar nav-bar__dark nav-bar__bg-dark nav-bar__shadow">
    <ul class="nav-bar__nav justify-content-end">
      <li class="nav-bar__brand">
        <%= image_tag "logo_transparent_HORIZ.png", :class => "nav-bar__image" %>
      </li>
      <li class="nav-bar__item">
        <a class="nav-bar__link active" href='/users/dashboard'>Dashboard</a>
      </li>
      <li class="nav-bar__item">
        <a class="nav-bar__link active" href='/users/explore'>Explore</a>
      </li>
      <li class="nav-bar__item">
        <%= link_to 'My Profile', user_path(current_user.id), class: "nav-bar__link active" %>
      </li>
      <li class="nav-bar__item">
        <%= link_to 'My Location', users_edit_location_path(current_user.id), class: "nav-bar__link active" %>
      </li>
      <li class="nav-bar__item">
        <%= link_to 'Messages', users_conversations_path, class: "nav-bar__link active" %>
      </li>
      <li class="nav-bar__item">
        <%= link_to "Logged in as #{current_user.username}", logout_path, method: :delete, class: "nav-bar__button nav-bar__button__link", id: "button" %>
      </li>
    </ul>
  </div>
</nav>
