<div class='new-user-form'>
  <%= form_for @user do |f| %>
    <%= hidden_field_tag :flat_id, @user.flat_id %>
    <p><%= f.label :email %></p>
    <%= f.text_field :email %>
    <p><%= f.label :zip %></p>
    <%= f.text_field :zip %>
    <p><%= f.label :about %></p>
    <%= f.text_field :about %>
    <p><%= f.label :interests, 'Genres Of Interest' %></p>
    <%= f.text_field :interests %>
    <p><%= f.label :instruments, 'Instruments I Play' %></p>
    <%= f.text_field :instruments %>
    <p style='margin: 10px;'><%= f.submit 'Register' %></p>
  <% end %>
</div>
