<h1>Flat Username: <%= @user.username %></h1>
<img src= "<%= @user.picture %>" alt="..." class="img-thumbnail" width='200' height='200'>
<p>About: <%= @user.about %></p>
<p>Genres Of Interest: <%= @user.interests %></p>
<p>Instruments I Play: <%= @user.instruments %></p>
