<!DOCTYPE html>
<html>
  <head>
    <title>CommunityCompose</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <div>
      <ul>
        <li>
          <a href='/users/dashboard'>Dashboard</a>
        </li>
        <li>
          <a href='/users/explore'>Explore</a>
        </li>
      </ul>
    </div>
  </nav>

  <body>
    <script src="https://prod.flat-cdn.com/embed-js/v1.3.0/embed.min.js"></script>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    <%= yield %>
  </body>
</html>
